html,body {
    padding: 0;
    margin: 0;
    background-color: #805030;
}
#screen {
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}
#mario {
    position: absolute;
}
